# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled Go binary
main
watchtower
bin/

# Test binaries and coverage
*.test
*.out

# Local Config or Environment Variables
.env
.env.local

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
